.DS_Store
*/.DS_Store
Report/report.aux
Report/report.bbl
Report/report.blg
Report/report.lof
Report/report.log
Report/report.lol
Report/report.lot
Report/report.out
Report/report.synctex.gz
Report/report.toc
Report/texput.log
Report/report.pdf
Application/.idea
Application/.com.apple.timemachine.supported
Application/sites/default/settings.php
