

#map-canvas{ height: 500px;}

.checkbox-inline label{
    font-weight: 400;
}

#calculate-route h4{
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px;
}

.accident-search-progress,
.accident-search-success{
    display: none;
}